# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
mobile/node_modules/

# Expo
mobile/.expo/
mobile/dist/
mobile/web-build/
mobile/expo-env.d.ts

# Native
mobile/*.orig.*
mobile/*.jks
mobile/*.p8
mobile/*.p12
mobile/*.key
mobile/*.mobileprovision

# Metro
mobile/.metro-health-check*

# debug
mobile/npm-debug.*
mobile/yarn-debug.*
mobile/yarn-error.*

# macOS
mobile/.DS_Store
mobile/*.pem

# local env files
mobile/.env*.local
mobile/.env

# typescript
mobile/*.tsbuildinfo

mobile/app-example

# backend
back-end/node_modules/
back-end/dist/
back-end/.env*.local
back-end/.env
back-end/drizzle/*


